img {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  margin: auto;
}
h1,
label,
.words {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(56, 47, 36, 0.74);
  letter-spacing: 2px;
}

.complete {
  text-align: center;
}

.addNew {
  margin-top: 3px;
  padding-bottom: 4px;
}

.App {
  background-color: rgba(14, 83, 74, 0.418);
  padding-left: 10px;
  padding-right: 10px;
}
